:root {
    --ocean-blue: #002b5b;
    --bg-grey: rgb(242, 242, 242);
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-grey);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

header, footer {
    background-color: var(--ocean-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    color: white;
}

footer {
    color: var(--bg-grey);
}

main {
    text-align: center;
    min-height: calc(100vh - 52px - 52px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.books-add {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    max-width: 600px;
}

button, input[type="button"] {
    border: none;
    padding: 0.5vw 1vw;
    border: 2px solid var(--ocean-blue);
    background-color: var(--ocean-blue);
    color: white;
    border-radius: 1vw;
    cursor: pointer;
}

button:hover, input[type="button"]:hover {
    color: black;
    background-color: white;

}

/* Cards */

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2vw;
}

.book-card {
    padding: 1vw;
    box-shadow: 0 1.2vw 1.2vw 0 rgba(0, 0, 0, 0.2);
    border-radius: 1vw 4vw 1vw 4vw;
    color: black;
    background-color: white;
    min-width: 200px;
    min-height: 200px;
    width: 80vw;
    max-width: 350px;
}

.book-card p {
    margin: 5px;
}

.card-tag {
    color: var(--ocean-blue);
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Form */

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    width: 100vw;
    background-color: rgba(211, 211, 211, 0.95);
}

#add-form {
    width: 80%;
}

.row-container {
    display: flex;
    min-width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
}

.col-container {
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
}

@media screen and (min-width: 900px) {
    #cards-container {
        flex-direction: unset;
        flex-wrap: wrap;
        max-width: 1500px;
    }

    #form-container {
        left: 30%;
        width: 40vw;
    }
}
